{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
    <div class="header">
        <div class="head-button">
            <a href="{% url 'main:profile' %}">TODO</a>
            <a href="{% url 'main:task_done' %}">DONE</a>
            <div class="dropdown">
                <div class="user-button">
                    {{ user }}
                    <div class="user-dropdown">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
        {% block content %}
            {% for task in tasks %}
                <li class="task-list"><a href="{% url 'main:task_detail' task.id %}">{{ task }}</a></li>
            {% endfor %}
        {% endblock content %}
        </ol>
        <div class="add-task">
            <a class="" href="{% url 'main:add_task' %}"><img src="{% static 'img/add_task.png' %}" style="width:80px; " alt=""></a>
        </div>
    </div>
</body>
