{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
    <div class="header">
        <div class="head-button">
            {% url 'main:profile' as url %}
            <a href="{{ url }}" {% if request.path == url %}class="active"{% endif %}>TODO</a>
            {% url 'main:task_done' as url %}
            <a href="{{ url }}" {% if request.path == url %}class="active"{% endif %}>DONE</a>
            <div class="dropdown">
                <div class="user-button">
                    {{ user }}
                    <div class="user-dropdown">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
        {% block content %}
            <div class="paginator">
            {% for task in current_page.object_list %}
                <li class="task-list"><a href="{% url 'main:task_detail' task.id %}">{{ task }}</a></li>
            {% endfor %}
            {% if current_page.has_previous %}
                <a href="?page={{ current_page.previous_page_number }}">Previous</a>
            {% endif %}
             <span class="page-current">
                Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
             </span>
            {% if current_page.has_next %}
                <a href="?page={{ current_page.next_page_number }}">Next</a>
            {% endif %}
            </div>
        </ol>
            <div class="add-task">
                <a href="{% url 'main:add_task' %}">
                    <img src="{% static 'img/add_task.png' %}" style="width:80px; " alt=""></a>
            </div>
        {% endblock content %}
    </div>
</body>
